<!DOCTYPE html>
<html>
<head>
  <title>ExpenseSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag("atos_logo.jpg", :alt => "Atos logo", :class => "logo") %>

<%= yield %>

</body>
</html>
